<div id="content">
	<h2>All Comics</h2>
	<%= link_to "New comic", new_admin_comic_url %>
	<% if @comics.any? %>
	<table id="comics-list">
		<thead>
			<tr>
				<th>Id</th>
				<th>Title</th>
				<th>&nbsp</th>
				<th>&nbsp</th>
			</tr>
		</thead>
		<tfoot/>
		<tbody>
			<% @comics.each do |c| %>
				<tr>
					<td><%= c.id %></td>
					<td><%= link_to c.title, admin_comic_path(c)  %></td>
					<td><%= link_to "Edit", edit_admin_comic_path(c) %></td>
					<td><%= link_to "Delete", admin_comic_path(c), :method => :delete, :confirm => "You sure dawg?" %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<% end %>
</div>