<div id="content">
	<h2 class="left">All Comics</h2>
	<%= link_to "New comic", new_admin_comic_url, :class => "button right" %>
	<div class="clear"></div>
	<% if @comics.any? %>
	<table class="comics-list">
		<tbody>
			<% @comics.each do |c| %>
				<tr class="<%= cycle("even", "odd") %>">
					<td><%= c.id %></td>
					<td><%= link_to c.title, admin_comic_path(c)  %></td>
					<td><%= link_to "Edit", edit_admin_comic_path(c) %></td>
					<td><%= link_to "Delete", admin_comic_path(c), :method => :delete, :confirm => "Sure?" %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
	<% end %>
</div>