<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	"http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
  <title>Nihilist</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="wrap">

		<% flash.each do |name, msg| %>
			<%= content_tag :div, msg, :id => "flash-message", :class => "flash-#{name}" %>
		<% end %>
		<%= yield %>
		<div id="footer">
			<% if current_user %>
				<p>
					Logged in as 
					<i><%= current_user.login %></i> |
					<%= link_to "Log out", admin_logout_url %>
				</p>
			<% else %>
				<p>
					Thank god for that blanket!
				</p>
			<% end %>
		</div>
	</div>
</body>
</html>
